h1, h2, h3, h4, p, div, ul, li {
margin: 0;
padding: 0;
border: 0;
font-size: 100%;
font: inherit;
font-family: "Helvetica Neue", sans-serif, serif;
}

h1 {
  font-size: 6rem;
  font-weight: bold;
  text-align: center;
}
h2 {
  font-size: 4rem;
  text-align: center;
}
